{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/brochures.css' %}">

<div class="container py-5">
    <img class="broucheres_colage_img" src="{% static 'brochures/icon/broucheres_colage.avif' %}" alt="">

    <h1 class="text-center mb-4 m-4">Download Our Brochures</h1>

    <div class="intro-image-block">
        <div class="intro-paragraph">
            <p>
                <strong>Bensons Corporatewear</strong>, designs, manufactures, and supplies bespoke corporate uniforms, as well as providing a wide range of corporate wear and workwear clothing from the leading European providers.
            </p>
            <p>
                From everyday corporate suits to hardware workwear, Bensons has a wide range of staff uniforms for men and women. The staff uniforms we provide are also branded to ensure that your brand is clearly visible...
            </p>
            <p>
                Click below to download catalogues of all our wide range of products. Browse any of the catalogs below, select and get expert advice on your next uniform...
            </p>
        </div>

        <a href="{% static 'brochures/icon/brochure_catalogue.pdf' %}" download>
            <img class="broucheres_catalogues" src="{% static 'brochures/icon/broucheres_catalogues.avif' %}" alt="Download Catalogue">
        </a>
    </div>

    <div class="brochure-cards-wrapper py-4 px-3 mt-5">
        <div class="row mb-4">
            <div class="col text-center">
                <h2 id="brochure_icons_title">  Click below to download catalogues of all our wide range of products.  </h2>
                <p class="brochure-intro">
                    Browse any of the catalogs below, select and get expert advice on your next uniform. Through the selection, advice, and completion of your order, our team will ensure a seamless customer experience.
                </p>
            </div>
        </div>
        <div class="row gy-4 brochure-cards">
            <div class="col-md-4 text-center">
                <a href="{% static 'brochures/icon/corporatewear.pdf' %}" download>
                    <img src="{% static 'brochures/icon/corporatewear_img.webp' %}" alt="Corporate Wear" class="img-fluid mb-3 brochure-icon">
                </a>
                <h4>Corporate Wear</h4>
                <p>Explore our catalogue of modern corporate suits and business uniforms.</p>
            </div>
    
            <div class="col-md-4 text-center">
                <a href="{% static 'brochures/icon/hospitalitywear.pdf' %}" download>
                    <img src="{% static 'brochures/icon/HOSPITALITYWEAR_img.webp' %}" alt="Hospitality" class="img-fluid mb-3 brochure-icon">
                </a>
                <h4>Hospitality</h4>
                <p>Discover uniforms tailored for hotels, restaurants and service teams.</p>
            </div>
    
            <div class="col-md-4 text-center">
                <a href="{% static 'brochures/icon/beauty_health.pdf' %}" download>
                    <img src="{% static 'brochures/icon/BEAUTY&HEALTH_img.webp' %}" alt="Healthcare" class="img-fluid mb-3 brochure-icon">
                </a>
                <h4>Healthcare</h4>
                <p>Professional and comfortable uniforms for clinics and hospitals.</p>
            </div>
    
            <div class="col-md-4 text-center">
                <a href="{% static 'brochures/icon/casualwear.pdf' %}" download>
                    <img src="{% static 'brochures/icon/CASUALWEAR_img.webp' %}" alt="Casualwear" class="img-fluid mb-3 brochure-icon">
                </a>
                <h4>Casual Wear</h4>
                <p>Relaxed and stylish uniforms for everyday work environments.</p>
            </div>
    
            <div class="col-md-4 text-center">
                <a href="{% static 'brochures/icon/Chefswear.pdf' %}" download>
                    <img src="{% static 'brochures/icon/CHESFWEAR_img.webp' %}" alt="Chefswear" class="img-fluid mb-3 brochure-icon">
                </a>
                <h4>Chefswear</h4>
                <p>High-quality clothing for chefs and kitchen professionals.</p>
            </div>
    
            <div class="col-md-4 text-center">
                <a href="{% static 'brochures/icon/look book.pdf' %}" download>
                    <img src="{% static 'brochures/icon/LOOK_BOOK_img.webp' %}" alt="Look Book" class="img-fluid mb-3 brochure-icon">
                </a>
                <h4>Look Book</h4>
                <p>Browse our seasonal styles and inspirations in our lookbook.</p>
            </div>
    
        </div>
    </div>
    
    
    
</div>
{% endblock %}
