{% extends 'shared/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/filter_cards.css' %}">



<div class="container-fluid  d-flex flex-column">
  <div class="row flex-grow-1">
    <!-- Columana IZQ -->
    <div class="col-md-3  d-flex "> </div>
    <!-- Columana Cental -->
    <div class="col-md-6 d-flex flex-column ">



      <!-- Cartas ropa -->
      <div class="container mt-4">
        <div class= "container col-4 text-center ">
          <h2 >Our clothing collection</h2>
        </div>
        {% include 'shared/filter_cards.html' %}

      </div>
      

      
    </div>
    <!-- Columana DER -->
    <div class="col-md-3  d-flex"> </div>
  </div>
</div>




{% endblock %}





