{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'shared/css/index.css' %}">

<div id="carouselSwipe" class="carousel slide" data-bs-touch="true" data-bs-ride="carousel">
  <div class="carousel-inner">

    <!-- Camareros -->
    <div class="carousel-item">
      <img src="{% static 'shared/img/waiter.jpg' %}" class="d-block w-100" style="object-position: 50% 10%" alt="Waiters">
      <div class="carousel-caption d-none d-md-block">
        <h3>Custom Apparel for Waitstaff</h3>
        <p>We specialize in creating durable and stylish uniforms for waiters, ensuring comfort and a professional appearance for every service.</p>
      </div>
    </div>

    <!-- Trabajadores de la construcción -->
    <div class="carousel-item active">
      <img src="{% static 'shared/img/construction_workers.jpg' %}" class="d-block w-100" alt="Construction Workers">
      <div class="carousel-caption d-none d-md-block">
        <h3>Tough Uniforms for Construction Workers</h3>
        <p>Our custom workwear is designed for construction professionals who need durability, comfort, and flexibility to handle the toughest jobs.</p>
      </div>
    </div>

    <!-- Trabajadores de hotel -->
    <div class="carousel-item">
      <img src="{% static 'shared/img/hotel_workers.jpg' %}" class="d-block w-100" alt="Hotel Workers">
      <div class="carousel-caption d-none d-md-block">
        <h3>Elegant and Professional Uniforms for Hotel Staff</h3>
        <p>We provide high-quality, custom uniforms for hotel staff that blend elegance with practicality, ensuring your team looks and feels their best.</p>
      </div>
    </div>
    <div class="carousel-item ">
      <img src="{% static 'shared/img/ONU.avif' %}" class="d-block w-100" alt="ONU">
      <div class="carousel-caption d-none d-md-block">
        <h1>Bensons Workwear has been a trusted uniform manufacturer, counting prestigious Clients</h1>
      </div>
    </div>
</div>


  <!-- Botones de navegación -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselSwipe" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselSwipe" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container-fluid vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
        <div class="col-md-3 bg-danger d-flex "></div>

        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          
        </div>

        <div class="col-md-3 bg-danger d-flex"></div>
    </div>
</div>

{% comment %} <div class="container container_carousel">
    <h1>Our Services</h1>
    <div id="servicesCarousel" class="carousel slide">
        <!-- Indicadores -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#servicesCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <!-- Carrusel -->
        <div class="carousel-inner">
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="row align-items-center">
              <div class="col-md-6 text-center">
                <img src="{% static 'shared/img/maquina_costurera.avif' %}" alt="Uniform Manufacturing">
              </div>
              <div class="col-md-6 p-4">
                <h5 class="text-black">Uniform Manufacturing</h5>
                <p class="text-black">We specialise in high-quality uniform manufacturing, delivering tailored solutions for diverse industries.</p>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-md-6 text-center">
                <img src="{% static 'shared/img/pasarela.avif' %}" alt="Bespoke Designs">
              </div>
              <div class="col-md-6 p-4">
                <h5 class="text-black">Bespoke Designs</h5>
                <p class="text-black">We specialise in bespoke designs that cater to the unique needs of your organisation. Our high-quality uniforms, footwear, and accessories are crafted with durability, comfort, and style in mind. We take pride in creating professional attire that not only meets industry standards but also reflects your brand’s identity.</p>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-md-6 text-center">
                <img src="{% static 'shared/img/maquina_costurera.avif' %}" alt="Unique Embroidery">
              </div>
              <div class="col-md-6 p-4">
                <h5 class="text-black">Unique Embroidery</h5>
                <p class="text-black">We offer unique embroidery services that enhance your brand identity. Our skilled team utilises advanced techniques to create vibrant, detailed designs on a variety of fabrics. Whether for uniforms, promotional items, or corporate apparel, our custom embroidery adds a professional touch that sets your team apart.</p>
              </div>
            </div>
          </div>

          <!-- Slide 4 -->
          <div class="carousel-item">
            <div class="row align-items-center">
              <div class="col-md-6 text-center">
                <img src="{% static 'shared/img/maquina_serigrafia.avif' %}" alt="Silk Screen Printing">
              </div>
              <div class="col-md-6 p-4">
                <h5 class="text-black">Silk Screen Printing</h5>
                <p class="text-black">Our specialised silk screen printing services deliver high-quality, vibrant designs that stand out. Ideal for uniforms, promotional products, and corporate apparel, our technique ensures durability and precision, allowing your brand’s message to shine through on any fabric. Trust us to bring your vision to life with expert craftsmanship and attention to detail.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Controles -->
        <button class="carousel-control-prev" type="button" data-bs-target="#servicesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#servicesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> {% endcomment %}
{% endblock %}
