footer a:hover {
    color: #ff6600 !important;
}

.logo{
    margin-left: 10%;
}
.logo-footer {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.logo-footer:hover {
    filter: brightness(0.7);
    transform: scale(1.1);
}
