/* Ajustar la imagen para que ocupe todo el ancho y tenga un aspecto adecuado */
.carousel-inner img {
  width: 100%;
  height: 50vh; /* Ajusta la altura según tu preferencia */
  object-fit: cover;
  filter: brightness(65%);
}

/* Asegurarnos de que el texto se ajuste bien al contenedor */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el texto */
  color: white;
  width: 100%;
}

.carrousel-text {
  font-size: 20px;
  max-width: 90%; /* Ajuste para que no se vea muy grande */
}

/* Para los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
}

.carousel-control-prev {
  left: -20px;
}

.carousel-control-next {
  right: -20px;
}

.clients_logo{
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}

.separador{
  background-color: rgba(40, 38, 86, 1); 
  color: white;
}

.separador h1{
  padding-top: 50px;
  color: #ffde44;
}
.separador p{
  padding-top: 20px;
  padding-bottom: 20px;
}

.prueba{
  font-size: 30px;
  font: bolder;
}

.clients_logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.button_container {
margin-bottom: 20px;
}
.filter-btn {
  width: 150px ;
  height: 40px ;
  
  border: none;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #bbb;
}

.dropdown-item.active {
  background-color: gold !important;
  color: black;
  font-weight: bold;
}



/* Ajustar el tamaño de la fuente en pantallas más pequeñas */
@media (max-width: 768px) {
  .carrousel-text h2 {
    font-size: 1.5rem; /* Reduce el tamaño en pantallas pequeñas */
  }
  .carrousel-text p {
    font-size: 1rem;
  }
  /* Para los botones de filtro */

  .filter-btn {
    font-size: 0.8rem;  /* Reducir el tamaño de la fuente */
    padding: 8px 16px;  /* Reducir los márgenes */
  }

  /* Apilar los logos en 3 por fila */
  .clients_logo {
    flex: 1 0 70%;  /* Esto hará que cada logo ocupe un tercio del ancho disponible */
    max-width: 70%;
  }

  /* Asegurarnos de que los logos se alineen correctamente */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-md-4 {
    flex: 1 0 33%; /* Cada logo ocupará un 33% del ancho de la fila */
    max-width: 33%;
    padding: 10px;
  }

}





